.wheel-selector-img {
  position: absolute;
  width: auto;
  height: 10em;
}

.wheel-selector-item {
  position: absolute;
}

.wheel-selector-game-description {
  position: absolute;
  width: 50%;
  top: 70%;
  left: 25%;
  max-height: 25%;
  overflow: auto;
}

.wheel-selector-base-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wheel-selector-global-container {
  transform: translateX(48%) translateY(13em);
}

.wheel-selector-animator > .wheel-selector-item:nth-child(5) img {
  animation: scaleAnimation 0.1s;
  transform: scale(1.5);
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(5) img {
  border: 2px solid #0095ff;
  filter: brightness(100%);
  box-shadow: 5px 5px 100px 5px #0095ff;
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.5);
  }
}

.wheel-selector-global-container > .wheel-selector-item img {
  filter: brightness(60%);
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(7) img {
  z-index: 1;
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(8) img {
  z-index: 2;
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(9) img {
  z-index: 3;
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(10) img {
  z-index: 4;
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(11) img {
  z-index: 5;
}

.glwheel-selector-global-containerobal > .wheel-selector-item:nth-child(1) img {
  z-index: 1;
}

.wheel-selector-global-container > .wheel-selector-item:nth-child(2) img {
  z-index: 2;
}
