<div class="wheel-selector-base-container">
  <div class="wheel-selector-global-container wheel-selector-animator">
    @for (wheelItem of visibleItems; track $index) {
    <div
      class="wheel-selector-item"
      [style.left]="getGameTransformCss($index)[0] + 'px'"
      [style.top]="getGameTransformCss($index)[1] + 'px'"
    >
      <img class="wheel-selector-img" [src]="wheelItem.image" alt="base" />
    </div>
    }
  </div>
  <div class="wheel-selector-game-description">
    <app-game-description [game]="currentSelectedGame"></app-game-description>
  </div>
</div>
