<div class="home-list-container d-flex flex-column gap-2">
  <div class="home-list-items-containers">
    @for (item of _metadata.items; track $index) {
    <div
      style="color: white"
      class="home-list-item d-flex flex-column"
      [ngClass]="{
        'home-list-item-selected': this.selectedIndex == $index
      }"
    >
      @if (item.image) {
      <img [src]="getImage(item)" alt="game" class="flex-1" />
      } @else if (item.icon) {
      <ng-icon [name]="item.icon" class="flex-1" size="15em"></ng-icon>
      }
      <div class="d-flex select-info-overlay">
        <span>Appuyez sur </span>
        <div class="button-x">X</div>
        <span>pour jouer</span>
      </div>
    </div>
    }
  </div>
</div>
